@import url(reset.css);

.body {
    width: 1440px;
    height: 1024px;
}

.header {
	width: 1440px;
    height: 60px;
background: #FE1A19;
}

.heading {
	width: 820px;
	height: 20px;
	padding: 20px 600px 20px 20px;
}

.heading h1 {
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;

}

.main {
    font-size: 0;
}

.containone {
width: 400px;
height: 800px;
border: 5px solid #E5E000;
border-radius: 30px;
display: inline-block;
box-sizing: border-box;
margin:52px 0px 50px 72px;
vertical-align: top;

}

.containtwo {
width: 400px;
height: 800px;
border: 5px solid #E5E000;
border-radius: 30px;
display: inline-block;
box-sizing: border-box;
margin:52px 0px 52px 50px;
vertical-align: top;


}

.containthree {
width: 400px;
height: 800px;
border: 5px solid #E5E000;
border-radius: 30px;
display: inline-block;
box-sizing: border-box;
margin:52px 0px 50px 50px;
vertical-align: top;


}


.h1 {
	position: relative;
    width: 207px;
    height: 23px;
    left: 33px;
    top: 33px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.contain {
	position: relative;
	left: 33px;
    top: 97px;
	width: 334px;
    height: 670px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.text {
    padding-bottom: 20px;
}


.footer {
    width: 1440px;
    height: 60px;
    background: #FE1A19;
}

.textFooter {
    padding: 20px 1250px 20px 20px;
    left: 20px;
    top: 984px;
    text-transform: uppercase;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}