@import url(reset.css);

.body {
    width: 1440px;
    height: 1024px;
}

.header {
	width: 1440px;
    height: 60px;
background: #FE1A19;
}

.heading {
	width: 820px;
	height: 20px;
	padding: 20px 600px 20px 20px;
}

.heading h1 {
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;

}

.one {
width: 400px;
height: 800px;
border: 5px solid #E5E000;
border-radius: 30px;
display: inline-block;
box-sizing: border-box;
position: absolute;
left: 70px;
top: 112px;
}

.two {
width: 400px;
height: 800px;
border: 5px solid #E5E000;
border-radius: 30px;
display: inline-block;
box-sizing: border-box;
position: absolute;
left: 520px;
top: 112px;
}

.three {
width: 400px;
height: 800px;
border: 5px solid #E5E000;
border-radius: 30px;
display: inline-block;
box-sizing: border-box;
position: absolute;
left: 970px;
top: 112px;
}

.h1one {
	position: relative;
    width: 207px;
    height: 23px;
    left: 33px;
    top: 33px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}

.h1two {
	position: relative;
    width: 207px;
    height: 23px;
    left: 33px;
    top: 33px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}

.h1three {
	position: relative;
    width: 207px;
    height: 23px;
    left: 33px;
    top: 33px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}

.textOne {
	position: absolute;
	left: 33px;
    top: 97px;
	width: 334px;
    height: 670px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.text11, .text12, .text13, .text14 {
    padding-bottom: 20px;
}


.textTwo {
    position: absolute;
    left: 33px;
    top: 97px;
    width: 334px;
    height: 670px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.text21, .text22, .text23, .text24 {
    padding-bottom: 20px;
}


.textThree {
    position: absolute;
    left: 33px;
    top: 97px;
    width: 334px;
    height: 670px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.text31, .text32, .text33, .text34 {
    padding-bottom: 20px;
}

.footer {
    width: 1440px;
    height: 60px;
    background: #FE1A19;
}

.textFooter {
    padding: 20px 1250px 20px 20px;
    left: 20px;
    top: 984px;
    text-transform: uppercase;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}