html {
	font-size: 10px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
:root {
	--main-color: #FEB700;
}
body {
	font-family: Times New Roman;
	font-style: lighter;
	font-weight: lighter;
	font-size: 2rem;
	line-height: 2.3rem;
}

.page {
	width: 100vw;
	min-height: 210.6rem;

}
.heading {
	height: 20vmin;
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
}


h1 {
	font-size: 5rem;
	line-height: 5.7rem;
	text-align: center;
}

.columns {
	min-height: 85vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin:auto;
	padding: 7rem;

}

.column {
	width: calc((100% - 5rem)/3);
	border: 1px solid black;
	text-align: left;
}

.img1 {
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-position: bottom;
	padding-bottom: 100%;
}


.img2 {
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: bottom;
	padding-bottom:100%;
}


.img3 {
	background-image: url(../img/3.jpg);
	background-size: cover;
	background-position: bottom;
	padding-bottom: 100%;
}

.p1, .p2, .p3 {
	padding: 3.3rem;
}
h2 {
	font-weight: bold;
}

.footer {
	height: 15vmin;
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
