@import url(reset.css);

html {
	font-size: 10px;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
}

.body {
	width: 100vw;
	min-height: 2106px;

}
.heading {
	height: 20vmin;
	width: 100vw;
	background-color: #FEB700;
	display: flex;
	justify-content: center;
	align-items: center;
}


h1 {
	font-size: 5rem;
	line-height: 5.7rem;
	text-align: center;
}

.columns {
	min-height: 85vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin:auto;
	box-sizing: border-box;
	padding: 70px;

}

.column {
	width: calc((100% - 50px)/3);
	border: 1px solid black;
	font-size: 2rem;
	line-height: 2.3rem;
	text-align: left;
	height: 80%;

}

.img1 {
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-position: bottom;
	padding-bottom: 100%;
}


.img2 {
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: bottom;
	padding-bottom:100%;
}


.img3 {
	background-image: url(../img/3.jpg);
	background-size: cover;
	background-position: bottom;
	padding-bottom: 100%;
}

.p1, .p2, .p3 {
	padding: 3.3rem;
}
h2 {
	font-weight: bold;
}

.footer {
	height: 15vmin;
	width: 100vw;
	background-color: #FEB700;
	display: flex;
	justify-content: center;
	align-items: center;
}
