@import url(reset.css);

body {
	width: 1440px;
	height: 2426px;
}

header {
	width: 100vw;
	height: 160px;
	background-color: #FEB700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading {
	height: 57px;
	width: 705px;
	margin:auto;
}

h1 {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	text-align: center;
	color: #000000
}

main {
	width: 1440px;
	height: 2106px;
}

.columns {
	width: 90vw;
	min-height: 1966px;
	display: flex;
	margin:70px;
	justify-content: space-between;
	align-items: stretch;


}

.column1, .column2, .column3 {
	width: calc((100% - 100px)/3);
	border: 1px solid #000000;
}

.column1 {
	height: 1874px;
}

.image1 {
	width: 400px;
	height: 600px;
	background-image: url(../img/potatoes.jpg);
	background-size: cover;
	background-position: center;
}

.text {
	width: 334px;
	height: 1214px;
}

.column2 {
	height: 1920px;
}

.image2 {
	width: 400px;
	height: 600px;
	background-image: url(../img/yogurt.jpg);
	background-size: cover;
	background-position: center;
}

.column3 {
	height: 1966px;
}

.image3 {
	width: 400px;
	height: 600px;
	background-image: url(../img/granola.jpg);
	background-size: cover;
	background-position: center;
}

.p1 {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	padding-bottom: 5px;
}

p {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: #000000;
	position: relative;
	margin: 30px 33px;

}