@import url(reset.css);

* {
	box-sizing: border-box;
}

	

.body {
	width: 1440px;
    height: 3359px;
    background: #FFFFFF
}

.header {
    height: 140px;
}

.heading {
	position: fixed;
	width: 1440px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
	width: 120px;
	font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #E50043;
    margin-left: 50px;

}

a {
	color: #E50043;
	text-decoration:none;

}

.headnav {
	font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    word-spacing: 50px;
    margin-right: 50px;
   }

.image1 {
    height: 950px;
	background-image: url(../img/logo.png);
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 150px;
}

.firsth1 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 115px;
	text-align: center;
	color: #E50043;

}

main {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.frame {
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	width: 1040px;
	padding: 10px 20px 10px 30px;
}

.textframe, .textframe1 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	padding-bottom: 10px;
	text-align: justify;
	
}

.imagetext {
	margin-top: 150px;
}

.groupimg {
	display: flex;
    justify-content:space-around;

}

.forwang {
	width: 281px;
	height: 863px;
	background-image: url(../img/wang.png);
	margin-right:100px;
}

.forblue {
	width: 279px;
	height: 863px;
	background-image: url(../img/blue.png);
	margin-right:100px;


}

.forchiara {
	width: 280px;
	height: 863px;
	background-image: url(../img/chiara.png);

}

.textimg {
	margin-top: 42px;
	display: flex;
    justify-content:space-around;
    align-content:center;

}

.wang, .blue, .chaira {
	width: 251px;
	height: 58px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
}

.frame2 {
	width: 1040px;
    height: 280px;
    margin: 150px 0px;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;

}

.textframe2 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.microimg {
	width: 101px;
	height: 220px;
	background-image: url(../img/glass.png);
	justify-content: flex-end;
	align-items: center;
}

.textformicroimg {
	width: 749px;
	height: 220px;
	display:flex;
	flex-direction: column;
	justify-content:space-around;
}

.footer {
	height: 140px;
	background: #F8BFC7;
}

.forTF {
	position: absolute;
	margin:50px 1060px 50px 50px;
	width: 330px;
	height: 40px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	color: #FFFFFF;
}