@import url(reset.css);

html {
	font-size: 10px;
}

* {
	box-sizing: border-box;
}

	

.body {
	width: 144rem;
    height: 335.9rem;
    background: #FFFFFF
}

.header {
    height: 14rem;
}

.heading {
	position: fixed;
	width: 144rem;
    height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
	width: 12rem;
	font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 5.7rem;
    color: #E50043;
    margin-left: 5rem;

}

a {
	color: #E50043;
	text-decoration:none;

}

.headnav {
	font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 5.7rem;
    word-spacing: 5rem;
    margin-right: 5rem;
   }

.image1 {
    height: 95rem;
	background-image: url(../img/logo.png);
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 15rem;
}

.firsth1 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10rem;
	line-height: 11.5rem;
	text-align: center;
	color: #E50043;

}

main {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.frame {
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	width: 104rem;
	padding: 1rem 2rem 1rem 3rem;
}

.textframe, .textframe1 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 2.9rem;
	letter-spacing: 0.05em;
	padding-bottom: 1rem;
	text-align: justify;
	
}

.imagetext {
	margin-top: 15rem;
}

.groupimg {
	display: flex;
    justify-content:space-around;

}

.forwang {
	width: 28.1rem;
	height: 86.3rem;
	background-image: url(../img/wang.png);
	margin-right:10rem;
}

.forblue {
	width: 27.9rem;
	height: 86.3rem;
	background-image: url(../img/blue.png);
	margin-right:10rem;


}

.forchiara {
	width: 28rem;
	height: 86.3rem;
	background-image: url(../img/chiara.png);

}

.textimg {
	margin-top: 4.2rem;
	display: flex;
    justify-content:space-around;
    align-content:center;

}

.wang, .blue, .chaira {
	width: 25.1rem;
	height: 5.8rem;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 2.9rem;
	text-align: center;
}

.frame2 {
	width: 104rem;
    margin: 15rem 0rem;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;

}

.textframe2 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5rem;
	line-height: 2.9rem;
	align-items: center;
	letter-spacing: 0.05em;
	color: #000000;
}

.microimg {
	width: 10.1rem;
	height: 22rem;
	background-image: url(../img/glass.png);
	justify-content: flex-end;
	align-items: center;
}

.textformicroimg {
	width: 74.9rem;
	height: 22rem;
	display:flex;
	flex-direction: column;
	justify-content:space-around;
}

.footer {
	height: 14rem;
	background: #F8BFC7;
}

.forTF {
	position: absolute;
	margin:5rem 106rem 5rem 5rem;
	width: 33rem;
	height: 4rem;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 5rem;
	line-height: 5.7rem;
	color: #FFFFFF;
}